@page "/"
@inject IToastService toastService
@inject AuthenticationStateProvider AuthNStateProvider
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.Extensions.Options;
@using SAPConnection.Areas.Identity.Data;
@using SAPConnection.Data;
@inject IHttpContextAccessor httpContextAccessor

@inject UserManager<ApplicationUser> userManager
@inject IHttpContextAccessor httpContextAccessor
@inject Microsoft.EntityFrameworkCore.DbContextOptions<SAPConnectionContext> dbContextOptions



<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<h1>@rest</h1>


<button class="btn btn-primary" @onclick="test">Click me</button>
<span id="res">@rest</span>
<h1>@rest</h1>


@code {



    string rest;
    public string Pno { get; set; }


    async Task test()
    {
        toastService.ShowInfo(DateTime.Now.Date.ToString("yyyyMMdd"));

        //string connectionString = "AppServerHost=10.1.25.168; SystemNumber=00; User=abapdev; Password=Ffbl@786#; Client=300; Language=EN; PoolSize=5; Trace=8";
        string DevconnectionString = "AppServerHost=sapdev.ffbl.com; SystemNumber=00; User=abapdev; Password=Pakistan@786#; Client=110; Language=EN; PoolSize=5; Trace=8";

        using var DevConnection = new SapNwRfc.SapConnection(DevconnectionString);

        DevConnection.Connect();
        var someFunction = DevConnection.CreateFunction("ZST_LEAVE_BALN3");
        var result = someFunction.Invoke<LeaveBalanceReturnParameter>(new LeaveBalanceInputParameter
            {
                Pno = "00000687",
                //FromDate = DateTime.Now.Date.ToString("dd.MM.yyyy"),
                //ToDate = DateTime.Now.Date.ToString("dd.MM.yyyy"),
                FromDate = DateTime.Now.Date.ToString("yyyyMMdd"),
                ToDate = DateTime.Now.Date.ToString("yyyyMMdd"),
                LeaveType = "1000"

            });

        rest = result.Bal.ToString();

        //var user = await userManager.GetUserAsync(httpContextAccessor.HttpContext.User);

        //using var context = new SAPConnectionContext(dbContextOptions);

        //var pno = await context.Users
        //    .Where(u => u.Id == user.Id)
        //    .Select(u => u.Pno)
        //    .FirstOrDefaultAsync();
        //    Pno = pno.ToString();
    }



    protected override async Task OnInitializedAsync()
    {
        
        
            //var authState = await AuthNStateProvider.GetAuthenticationStateAsync();
            //var user = authState.User;

            //if (authState.User.Identity != null)
            //{
            //     UserName = user.FindFirst(u => u.Type.Contains("Pno")).Value.ToString();
            //}



           


        

    }

}



<SurveyPrompt Title="How is Blazor working for you?" />
